<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Material Catequese</ion-title>
    
    <ion-progress-bar type="indeterminate" *ngIf="!material"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let m of material">
    <ion-item>
      <ion-label>{{m.data}}</ion-label>
    </ion-item>

    <ion-card *ngIf="m.tipo == 'pdf'" class="card" (click)="abrirPdf(m.url, m.titulo)">
      <ion-card-header>
        <ion-icon name="document-outline"></ion-icon>
        <ion-card-title>{{m.titulo}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
