<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{titulo}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="zoomOut()">
        <ion-icon name="remove-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="zoomIn()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<pdf-viewer [src]="url" [original-size]="true" [fit-to-page]="true" [zoom-scale]="'page-fit'" [zoom]="zoom" [render-text]="true" style="max-width: 100vw; height: 100vh;"></pdf-viewer>