.coluna {
    color: #fff;
    text-align: center;
}

.icone {
    font-size: 20px;
    color: #fff;
}

.card {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}