.coluna {
    text-align: center;
}

.icone {
    font-size: 20px;
    color: #000;
}

.card {
    background-color: #d1a758;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}