<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="coluna">
        <ion-card class="card" (click)="navegar('liturgia')">
          <ion-card-header>
            <ion-icon name="book" class="icone"></ion-icon>
            <ion-card-title color="light">Liturgia do dia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="coluna">
        <ion-card class="card" (click)="navegar('oracoes')">
          <ion-card-header>
            <ion-icon name="bulb" class="icone"></ion-icon>
            <ion-card-title color="light">Orações</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
